.direction, .buzzer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: grey;
}


.direction:hover {
    cursor: pointer;
}

.top, .middle, .bottom {
    display: flex;
    justify-content: center;
}